.main-container{
    border: 5px solid orange;
    padding: 1rem;
    margin-top: 2rem;
    min: 400px;
    display: flex;
    gap: 1rem;
    display: flex;
    flex-wrap: wrap;
    
    .form-label{
        margin-bottom: 1rem;
    }
    button{
        margin-top: 1rem;
    }
    .form-box{
        min-width: 100px;
        height: 100%;
        padding: 1rem;
        border: 3px solid gray;
    }

    .show-area{
        display: flex;
        flex: 1;
        
        border: 3px solid green;
        flex-wrap: wrap;
        
    }

    .todo-card{
        margin: 1rem;
        width: 250px;
        
    }
    .todo-card-body{
        display: flex;
        align-items: center;
        gap: 1rem;
    }
}